<html>
    <!-- <head></head> -->
    <title>My Text Analyser</title>
    <body>
        <h1>Hello, enter text to analyse</h1>
    </body>
    <form action="analyser" method="get">
        <textarea name="inputText" id="" cols="30" rows="10" style="width: 635px; height: 138px;"></textarea><br>
        <input type="radio" name="analysisType" value="RP"> Remove Punctuations<br>
        <input type="radio" name="analysisType" value="RS"> Remove Space<br>
        <input type="radio" name="analysisType" value="DN" checked="True"> Do Nothing!<br>
        <button type="submit">Analyse</button>
    </form>
</html>